<footer class="bg-body-tertiary mt-auto">
    <div class="container">
        <section class="d-flex justify-content-center mb-2">
            <a class="btn btn-link" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-link" href="#" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-link" href="#" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-link" href="#" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-link" href="#" role="button"><i class="fab fa-linkedin"></i></a>
            <a class="btn btn-link" href="#" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div>
</footer>

<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
    }
</style>