<header class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <a class="navbar-brand ms-2" href="/">Trang chủ</a>
    <div class="collapse navbar-collapse d-flex justify-content-between w-100">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item" id="login-link">
                <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
            <li class="nav-item" id="user-info" style="display: none;">
                <span class="nav-link" id="user-name"></span>
            </li>
            <li class="nav-item" id="upload-link" style="display: none;">
                <a class="nav-link" href="/upload">Thêm tệp</a>
            </li>
            <li class="nav-item" id="admin-link" style="display: none;">
                <a class="nav-link" href="/user-manegement">Quản lý người dùng</a>
            </li>
            <li class="nav-item" id="user-link-file" style="display: none;">
                <a class="nav-link" href="/userFiles">Quản lý tài liệu</a>
            </li>
            <li class="nav-item" id="admin-link-file" style="display: none;">
                <a class="nav-link" href="/adminFiles">Tài liệu admin</a>
            </li>
            <li class="nav-item" id="logout-link" style="display: none;">
                <a class="nav-link" href="#" id="logout-btn">Đăng xuất</a>
            </li>
        </ul>
        <form class="d-flex ms-auto" role="search" method="GET" action="/search">
            <input class="form-control me-2" id="search-file" type="text" name="searchQuery"
                placeholder="Tìm kiếm tệp tin" required>
            <button class="btn btn-outline-success btn-sm w-50" id="search-btn" type="submit">Tìm kiếm</button>
        </form>
        
    </div>
</header>

<script>
    function getFromLocalStorage(key) {
        return localStorage.getItem(key);
    }

    function removeFromLocalStorage(key) {
        localStorage.removeItem(key);
    }

    let token = getFromLocalStorage('token');
    let fullname = getFromLocalStorage('fullname');
    let role = getFromLocalStorage('role');

    function updateNavbar() {
        if (token && fullname) {
            document.getElementById('login-link').style.display = 'none';
            document.getElementById('user-info').style.display = 'block';
            document.getElementById('logout-link').style.display = 'block';
            document.getElementById('search-file').style.display = 'block';
            document.getElementById('search-btn').style.display = 'block';
            document.getElementById('user-name').textContent = `Hello, ${fullname}`;

            if (role !== 'sinhvien') {
                document.getElementById('upload-link').style.display = 'block';
            } else {
                document.getElementById('upload-link').style.display = 'none';
            }

            if (role === 'admin') {
                document.getElementById('admin-link').style.display = 'block';
                document.getElementById('admin-link-file').style.display = 'block';
                document.getElementById('user-link-file').style.display = 'block';
                user-link-file
            } else {
                document.getElementById('admin-link').style.display = 'none';
                document.getElementById('admin-link-file').style.display = 'none';
                document.getElementById('user-link-file').style.display = 'none';
            }
        } else {
            document.getElementById('login-link').style.display = 'block';
            document.getElementById('user-info').style.display = 'none';
            document.getElementById('upload-link').style.display = 'none';
            document.getElementById('admin-link').style.display = 'none';
            document.getElementById('admin-link-file').style.display = 'none';
            document.getElementById('logout-link').style.display = 'none';
            document.getElementById('search-file').style.display = 'none';
            document.getElementById('search-btn').style.display = 'none';
            document.getElementById('user-link-file').style.display = 'none';
        }
    }

    document.getElementById('logout-btn')?.addEventListener('click', function () {
        localStorage.removeItem('token');
        localStorage.removeItem('fullname');
        localStorage.removeItem('role');

        fetch('/logout', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(() => {
            window.location.href = '/login';
        }).catch((error) => {
            console.error('Logout error:', error);
        });
    });
    updateNavbar();
</script>

<style>
    header {
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
</style>